.nav {
  ul {
    list-style: none;
  }

    li {

    }

    .active {
      a:before {
        content: '>\00a0'
      }
    }
}

.nav-pagination {
  padding-top: $padding;

  ul {
    list-style: none !important;

    li {
      display: inline-block;
    }
  }

}

a {
  cursor: default;
}
